<!--
  Copyright 2009 Yusuf Simonson
  This file is part of Snowball.
  
  Snowball is free software: you can redistribute it and/or modify it under the
  terms of the GNU Affero General Public License as published by the Free
  Software Foundation, either version 3 of the License, or (at your option) any
  later version.

  Snowball is distributed in the hope that it will be useful, but WITHOUT ANY
  WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
  A PARTICULAR PURPOSE.  See the GNU Affero General Public License for more
  details.

  You should have received a copy of the GNU Affero General Public License
  along with Snowball.  If not, see <http://www.gnu.org/licenses/>.
-->

{% include header.html %}

<p>
    account name: <input id="name" class="mini" type="text" />
    password: <input id="password" class="mini" type="password" />
    <div class="right">
        <a href="javascript:createAccount()" class="button">create &raquo;</a>
        <a href="javascript:deleteAccount()" class="button">delete &raquo;</a>
    </div>
</p>

{% include footer.html %}